# **3. Basic Operands**

---

## **Types**

In Python, operands are called objects, and objects are classified by type (or "class").

An object's type determines the operations for which it can serve as an operand.

---

## **Integers, Floats, and Booleans**

In this course, you have already seen three types of numeric objects: integers, decimal numbers (called "floats" in Python), and Booleans.

In [1]:
# The type function returns the type of an object.

print(type(2))
print(type(2.0))
print(type(True))

<class 'int'>
<class 'float'>
<class 'bool'>

<br>

The Boolean type is a sub-type of integer. `True` is equivalent to `1` and `False` is equivalent to `0`.

In [2]:
print(True == 1)
print(False == 0)
print(True + 3)

True
True
4

<br>

You can convert objects of compatible types into integers, floats, and Booleans using the `int`, `float`, and `bool` functions.

In [3]:
print(int(1.9))            # Note that the int function truncates instead of rounding.
print(float(True))
print(bool(0))

1
1.0
False

---

## **Strings**

#### <ins>Syntax</ins>

In Python, text objects are called strings.

The interpreter identifies strings by the notation that marks their boundaries (their "delimiters").

Strings can be delimited by single, double, or triple quotes.

In [5]:
print(type('This is a string.'))
print(type("This is also a string."))
print(type('''This, too, is a string.'''))

<class 'str'>
<class 'str'>
<class 'str'>

<br>

A string must end with the same notation with which it was initiated.

In [7]:
'This is not going to work."'

'This is not going to work."'

<br>

You can include single or double quotes in a string by delimiting the string with alternate notation.

In [ ]:
print("Walmart's current stock price is $68.13.")
print('CEO Doug McMillon said, "As we invest in technology, we want our people to go with us."')

<br>

When you need both single and double quotes in a string, preceding quotes with the `\` symbol will prevent the interpreter from treating them as delimiters.

In [ ]:
print('Walmart\'s CEO said, "As we invest in technology, we want our people to go with us."')

<br>

Alternatively, you can delimit the string with triple quotes.

In [8]:
print('''Walmart's CEO said, "As we invest in technology, we want our people to go with us."''')

Walmart's CEO said, "As we invest in technology, we want our people to go with us."

<br>

A string delimited with triple quotes can span multiple lines.

In [12]:
print('''WMT
---
Price: $68.13
P/E Ratio: 35.48
Beta: 0.50''')

WMT
---
Price: $68.13
P/E Ratio: 35.48
Beta: 0.50

<br>

#### <ins>Concatenation and Repetition</ins>

As you would expect, strings cannot serve as operands for the same operations as numeric objects.

In [13]:
# Python can calculate the absolute value of an integer...

abs(-10)

10

In [14]:
# ...but not of a string.

abs('Test string')

TypeError: bad operand type for abs(): 'str'

<br>

However, when given strings as operands, the `+` symbol initiates concatenation instead of addition.

In [15]:
'Introduction to ' + 'Python'

'Introduction to Python'

<br>

Similarly, the `*` symbol initiates repetition instead of multiplication.

In [16]:
'Go! ' * 3

'Go! Go! Go! '

<br>

#### <ins>Interpolation</ins>

Interpolation is an operation in which a textual representation of an object is inserted into a string. Python provides multiple methods of string interpolation, but the most common is called [formatted string literals](https://docs.python.org/3/reference/lexical_analysis.html#f-strings) (or "f-strings" for short).

F-strings (and other interpolation methods) are used to produce dynamic text outputs.

In [30]:
# For example, if you developed an algorithm to predict a company's stock price...

ticker = 'MSFT'
change = 'fall'
predicted_price = 416.21

# ...you could automatically output your results using an f-string.

print(f'Our algorithm predicts that the price of {ticker} will {change} to ${predicted_price}.')

Our algorithm predicts that the price of MSFT will fall to $416.21.

<br>

F-strings begin with the letter `f` followed by a string containing some number of *replacement fields* (expressions delimited with curly brackets).

The interpreter evaluates the expression in each replacement field and, if necessary, converts its result into a string.

In [31]:
f'Two plus two is equal to {2 + 2}.'

'Two plus two is equal to 4.'

<br>

In some cases, you may want to change the formatting of your interpolated object.

In [32]:
predicted_price = 416.20

print(f'Our algorithm predicts that the price of {ticker} will {change} to ${predicted_price}.')

Our algorithm predicts that the price of MSFT will fall to $416.2.

<br>

You can achieve this by adding a formatting specification to any replacement field.

Python includes a [Formatting Specification Mini-Language](https://docs.python.org/3/library/string.html#format-specification-mini-language) that is comparable to Excel's custom formatting notation. 

Use a `:` to separate your formatting specification from the object you want to insert into your string.

In [33]:
# The formatting spec .2f tells the interpreter to display predicted_price as a floating point
# number with two decimal places.

print(f'Our algorithm predicts that the price of {ticker} will {change} to ${predicted_price:.2f}.')

Our algorithm predicts that the price of MSFT will fall to $416.20.

<br>

#### <ins>Other Operations</ins>

You can test whether a character or series of characters is in a string with the `in` keyword.

In [34]:
excerpt = "PPG's depreciation expense is calculated using the straight-line depreciation method."
'straight-line' in excerpt

True

<br>

You can use the `len` function to check the length of a string.

In [35]:
len(excerpt)

85

<br>

#### <ins>The </ins>`str`<ins> Function</ins>

You can convert objects of almost any type into a string by using the `str` function.

In [37]:
type(str(123))

str

In [38]:
my_string = str(123)
print(my_string * 2)

123123

---

## **Containers**

Containers (or "data structures") are operands that contain other operands.

Python provides multiple types of containers which differ in:
1) The way they organize the objects they contain (their "elements") and 
2) The operations for which they can serve as an operand.

---

## **Lists**

#### <ins>Definition</ins>

A list is a container that organizes its elements in a sequence.

<br>

#### <ins>Syntax</ins>

The interpreter identifies lists by their delimiters, square brackets.

Each element of a list is separated by a comma.

In [39]:
#            In syntactic terms, this is a list display.
#            |
list_a = [1, 2, 3]          
print(list_a)
print(type(list_a))

[1, 2, 3]
<class 'list'>

<br>

#### <ins>Elements</ins>

Lists can contain objects of any type, including other lists.

The interpreter will first evaluate an expression in a list display and then store its result in the list.

In [40]:
example_list = [2, 10.7, False, abs(10 - 50), 'Test String', list_a]
example_list

[2, 10.7, False, 40, 'Test String', [1, 2, 3]]

<br>

Each element of a list is associated with an index number beginning with zero.

In [42]:
abc_list = ['a', 'b', 'c']
#            0    1    2

<br>

#### <ins>Subscription</ins>

You can access a single element of a list through an operation called subscription (or "indexing").

The operation of subscription is initiated by a syntactic pattern which is called by the same name.

Syntactically, a subscription is a list (or an identifier bound to a list) followed by a pair of square brackets containing the index of an element in the list.

In [44]:
print(abc_list[0])          # In syntactic terms, this is a subscription.
print(abc_list[2])          # Subscription is also commonly called "indexing".

a
c

<br>

If an index in a subscription does not correspond to a list element, the interpreter will raise an IndexError.

In [46]:
print(abc_list[5])

IndexError: list index out of range

<br>

The interpreter evaluates bracketed expressions before subscriptions.

Therefore, you can use an expression in a subscription as long as the expression results in a valid index.

In [48]:
abc_list[-4 + 6]

'c'

<br>

#### <ins>Slicing</ins>

You can extract multiple consecutive elements from a list through an operation called slicing.

The operation of slicing is initiated by a syntactic pattern which is called by the same name.

In [49]:
# In its most basic form, a slicing contains a start index and an end index separated by a colon.

print(abc_list[0:2])         # In syntactic terms, this is a slicing.

['a', 'b']

<br>

Unlike subscription, which can return an object of any type, slicing a list always produces another list.

In [51]:
print(abc_list[0])               # This subscription will return a string.
print(type(abc_list[0]))

print('-')

print(abc_list[0:2])             # This slicing will return a list.
print(type(abc_list[0:2]))

a
<class 'str'>
-
['a', 'b']
<class 'list'>

The list returned by a slicing includes the element associated with the start index of the slicing but excludes the element associated with the end index of the slicing.

<br>

When a slice involves the first or last element in a list, the associated index can be ommitted.

In [52]:
print(abc_list)
print(abc_list[:2])  # When the start index is omitted, the slice will start with the first element.
print(abc_list[1:])  # When the end index is omitted, the slice will end with the last element.
print(abc_list[:])   # A slice without either index will return the whole list.

['a', 'b', 'c']
['a', 'b']
['b', 'c']
['a', 'b', 'c']

<br>

By default, a slicing will return an uninterrupted series of consecutive elements.

However, you can skip elements by adding a *step* value after the second index in a slicing.

In [61]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]

even_numbers = numbers[1:88:2]               # (This 8 can be ommitted without consequence.)
#                          |
#                          Step

even_numbers

[2, 4, 6, 8]

<br>

#### <ins>Negative Indices</ins>

Each element in a list is also associated with a negative index.

You can use negative indices to reference elements based on their distance from the end of the list.

In [65]:
abc_list = ['a', 'b', 'c']
#           -3   -2   -1

print(abc_list[-1])
print(abc_list[-2:])

c
['b', 'c']

<br>

#### <ins>Index Assignment</ins>

You can change an element of a list by targeting the associated index in an assignment statement.

In [71]:
variable = 'variable value'
print(variable)

variable value

In [72]:
# UPDATE THIS EXAMPLE

test_list = [1, 1, 3]
print(test_list)

test_list[1] = 2
print(test_list)

[1, 1, 3]
[1, 2, 3]

<br>

If you attempt to assign an object to an index beyond the range of a list, the interpreter will raise an IndexError.

In [75]:
test_list[3] = 4
test_list

IndexError: list assignment index out of range

<br>

#### <ins>Other Operations</ins>

As with strings, the `+` and `*` symbols initiate concatenation and repetition when they receive lists as arguments.

In [76]:
list_b = [4, 5, 6]
print(list_a + list_b)
print(list_a * 2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3]

<br>

The `len` function returns the length of a list.

In [77]:
len(list_b)

3

<br>

The `in` keyword tests membership.

In [78]:
5 in list_b

True

<br>

#### <ins>The </ins>`list`<ins> Function</ins>

You can convert compatible objects into a list by using the `list` function.

In [79]:
xyz_list = list('xyz')
print(xyz_list)

['x', 'y', 'z']

---

## **Dictionaries**

#### <ins>Definition</ins>

A dictionary is a container that organizes its elements in key-value pairs.

#### <ins>Syntax</ins>

Dictionaries are delimited by curly brackets. Keys precede values and are separated from values with a colon. Key-value pairs ("items") are separated by commas.

In [80]:
#                                     In syntactic terms, this is a dictionary display.
#                                     |
example_dictionary = {'one' : 1, 'two' : 2, 'three' : 3}
#                       |     |
#                     Key     Value

print(example_dictionary)
print(type(example_dictionary))

{'one': 1, 'two': 2, 'three': 3}
<class 'dict'>

<br>

To make your code easier to read, you can split dictionary displays across multiple lines.

In [88]:
# This is the conventional format for writing dictionary displays.
# The interpreter will ignore spaces, newlines, and indents.

example_dictionary = {
    'one' : 1, 
    'two' : 2, 
    'three' : 3
}

print(example_dictionary)

{'one': 1, 'two': 2, 'three': 3}

<br>

Any object can serve as a value in a dictionary. However, dictionary keys must be [hashable objects](https://docs.python.org/3/glossary.html#term-hashable). 

Numeric types and strings are hashable. Lists and dictionaries are not.

In [89]:
# NOTE TO SELF: MAKE THIS EXAMPLE MEANINGFUL INSTEAD OF ARBITRARY.

new_dictionary = {
    1 : [1, 2, 3],
    5.7 : {'one' : 1, 'two' : 2},
    True : 'value',
    'key' : 10
}

print(new_dictionary)

{1: 'value', 5.7: {'one': 1, 'two': 2}, 'key': 10}

In [90]:
# NOTE TO SELF: MAKE THIS EXAMPLE MEANINGFUL INSTEAD OF ARBITRARY.

bad_dictionary = {
    [1, 2, 3] : 'value'
}

TypeError: unhashable type: 'list'

<br>

#### <ins>Subscription</ins>

As with list elements, you can access dictionary values through subscription.

The syntax of dictionary subscription is the same as list subscription except that keys replace index numbers.

In [91]:
example_dictionary['two']

2

<br>

Using an invalid key in a dictionary subscription will cause the interpreter to raise a KeyError.

In [92]:
example_dictionary['four']

KeyError: 'four'

<br>

A dictionary subscription can contain an expression that evaluates to a valid key.

In [93]:
example_dictionary['o'+'n'+'e']

1

<br>

#### <ins>Key Assignment</ins>

You can replace a previously defined value by targeting the associated key in an assignment statement.

In [94]:
# Example

# dict[key] = new_value

example_dictionary['one'] = 1.0
example_dictionary

{'one': 1.0, 'two': 2, 'three': 3}

<br>

Targeting a new key in an assignment statement will add a new item to a dictionary.

In [95]:
# Example

# dict_[key] = new_value
# dict[key]

example_dictionary['four'] = 4
example_dictionary

{'one': 1.0, 'two': 2, 'three': 3, 'four': 4}

<br>

#### <ins>Other Operations</ins>

To delete an item, use the `del` keyword.

In [96]:
# del dict[key]
# dict

del example_dictionary['one']
example_dictionary

{'two': 2, 'three': 3, 'four': 4}

<br>

As with lists, the `len` function will return the number of items in a dictionary...

In [99]:
# len(dict)

3

<br>

...and the `in` keyword will test for membership among a dictionary's keys.

In [100]:
# key in dict

'two' in example_dictionary

True

In [102]:
dict_1 = {
    'one' : 1, 
    'two' : 2, 
    'three' : 3
}

dict_2 = {
    'three' : 3.0,
    'four' : 4,
    'five' : 5
}

<br>

You can merge two dictionaries with the `|` operator.

When two keys match, the value in the first dictionary will be overwritten by the value in the second.

In [103]:
# dict_1 | dict_2

# Demonstrate the consequence of matching keys with different values.

dict_1 | dict_2

{'one': 1, 'two': 2, 'three': 3.0, 'four': 4, 'five': 5}

<br>

---

## **Other Containers**

#### <ins>Sets</ins>

Sets contain collections of unique hashable objects.

Like dictionaries, sets are delimited by curly brackets, and set elements are separated by commas.

In [ ]:
#                            In syntactic terms, this is a set display.
#                            |
tech_companies = {'AAPL', 'GOOGL', 'AMZN'}
retail_companies = {'WMT', 'AMZN', 'TGT'}

print(tech_companies)
print(type(tech_companies))
print('-')
print(retail_companies)
print(type(retail_companies))

<br>

Set operations include union, intersection, and difference, among [others](https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset).

In [ ]:
# Union
print(tech_companies | retail_companies)
print()

# Intersection
print(tech_companies & retail_companies)
print()

# Difference
print(tech_companies - retail_companies)
print(retail_companies - tech_companies)
print()

Sets cannot contain duplicates.

In [109]:
energy_companies = {'XOM', 'COP', 'BP', 'COP'}

print(energy_companies)

{'COP', 'XOM', 'BP'}

<br>

Therefore, you can use the `set` function to remove duplicates from lists.

In [114]:
stock_purchase_list = ['XOM', 'AMZN', 'MSFT', 'AMZN', 'WMT']
stock_purchase_set = set(stock_purchase_list)

list(stock_purchase_set)

['XOM', 'AMZN', 'WMT', 'MSFT']

In [111]:
len(stock_purchase_set)

4

<br>

As with other container types, you can use the `len` function and `in` keyword with sets to check length and membership.

In [ ]:
print(len(retail_companies))
print('AAPL' in energy_companies)

<br>

#### <ins>Tuples</ins>

Tuples are immutable lists.

Tuples are delimited with parentheses.

In [115]:
example_tuple = (1, 2, 3)
type(example_tuple)

tuple

<br>

Tuples can be subscripted and sliced like lists.

In [116]:
print(example_tuple[1])
print(example_tuple[1:])        # This slicing will return a tuple.

2
(2, 3)

<br>

Once you create a tuple, you cannot change its elements.

In [117]:
example_tuple[1] = 4

TypeError: 'tuple' object does not support item assignment

<br>

If all of its elements are hashable, a tuple is hashable and can be used as a dictionary key and a member of a set.

In [ ]:
test_dict = {
    example_tuple : 'example_value'
}
print(test_dict)

print('-')

test_set = {example_tuple}
print(test_set)

---

## **Functions**

Functions are named operations which can also serve as operands.

For example, you can bind a function to a variable name and call the function through the variable.

In [118]:
x = len
x([1, 2, 3])

3

<br>

You can store functions in containers and call them through subscription.

In [121]:
function_dict = {
    'Length' : len,
    'Maximum' : max,
    'Minimum' : min
}

function_dict['Length']([1, 2, 3])     # Subscriptions and function calls share the same level of  
                                        # precedence and are executed in the order in which they appear.
                                        # Example: print(function_dict['Length'])

3

<br>

You can pass functions as arguments to other functions.

In [123]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

---

## **Other Types**

Python includes more object types than we have covered here. You can find a comprehensive list in [the official documentation](https://docs.python.org/3/library/stdtypes.html).